html {
cursor: url(image/cursor.cur), auto;
}
body{
    font-family: 'Press Start 2P', cursive;
     background-image: url('ground2.png');
    background-size:100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    width:100%;
    margin: 0;
    margin: 0;
}   
canvas{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 5px;
	background: url(image/mapground.png);
	animation: animatedBackground 5.3s linear infinite;
	z-index: -1;
}
h1,h2,h3{
    text-align:center;
    text-transform:uppercase;
}
#top{
    margin: 0;
    padding: 10px;
    color: #EC7063;
	background: #495c6b;
}
@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: -1200px 0; }
}